{% extends 'core/base.html' %}
{% load static %}
{% block title %}О нас{%endblock%}

{% block content %}
      <div class="container">
        <section class="about">
          <h2>О заводе</h2>
          <div class="about-inner">
            <div class="about-inner__img">
              <img src="{% static 'core/images/logo.svg' %}" width="316" height="342"  alt="Логотип">
            </div>
            <p class="about-inner__text">
              "Завод Металлооснастки" – ветеран в отрасли производства высококачественного
              технологического оборудования для получения железобетонных изделий.
              <br><br><span class="text-medium">ГОСТ 25781-2018, ГОСТ 25878-85, ГОСТ 27204-87,
              ГОСТ 28715-90</span> – основополагающие документы ведущей деятельности компании.
              <br><br>Металлоформы (групповые, универсальные, переналаживаемые, многоместные, вагонетки)
              изготавливаем как по разработанной конструкторским отделом завода проектной документации,
              так и по предоставленным заказчиком чертежам. <br><br>В настоящее время нами освоена такая
              продукция как: вибростолы, вибротумбы, кассетные установки, телеги самоходные, столы,
              магнитная быстросъемная бортовая оснастка и иное оборудование для предприятий по
              производству железобетонных изделий.
              <br><br>Накопив колоссальный опыт, располагая штатом высококвалифицированных специалистов,
              готовы к дальнейшему росту и освоению новых видов изделий.
              <br><br>Наш завод уникален, и мы, его сотрудники, увлеченные своим делом, радеем о
              его развитии и престиже.
              <br><br>«Завод Металлооснастки» - достойный профессиональный партнер!
            </p>
            <br><br>
            <p class="about-inner__text about-inner__owner">
              <br>Директор ООО "Завод Металлооснастки"
              <br><span class="text-medium">Возмилов Игорь Владимирович</span>
            </p>
          </div>
        </section>
      </div>
{% endblock %}
