{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
      <div class="container">
        <section class="news-more-sec">
          <h2>{{ post.title }}</h2>
          <div class="news-more-sec__date">{{ post.added|date:'d b Y в H:i' }}</div>
          <div class="news-inner">
            <div class="news-inner__text">
              {{ post.text|safe }}
            </div>
            <div class="news-inner__imgs">
              {% if post.cover %}
              <div class="news-inner__media">
                <img src="{{ post.cover.url }}" alt="">
              </div>
              {% else %}
              <div class="news-inner__media">
                <img src="{% static 'core/images/default.jpg' %}" alt="">
              </div>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
{% endblock %}
